# Assignment 2


You may work in groups, but you must submit your own work. If you worked with others, please be sure to include their names in your submitted work in your submitted jupyter notebook. 

Be sure to **DOCUMENT your work** (points will be deducted without documentation). Always import any packages that you use at the top of your assignment. 

Be sure to include your name and email address in the jupyter notebook that you turn in.  

Use the power of the internet when you're stuck or need to find a function to execute it. **CITE YOU WORK when you do this** (points will be deducted without citations)

Use this notebook as your template and fill your code (if asked) in the designated area. Email me your jupyter notebook directly (ends with .ipynb). You can attach it like any other file. 

Deadlines are posted in the announcement section on Blackboard.

If a question is unclear about what I am asking, ask it in your classroom discussion board and I will answer it.

# This assignment consists of **two parts**:

## Part 1: Coding exercises (60 points)

You have 5 questions that you must answer (20 points)

In [2]:
import requests
import pprint
import pandas as pd
import numpy as np

### Question 1

Use the [pokeAPI](https://pokeapi.co/)

Find out information about the Pokemon "Gible":
- What is its type(s)?
- What is its abilities?

You must use python and apply the GET method via their API to display this information.

In [6]:
# Your code here

url = "https://pokeapi.co/api/v2/pokemon/gible" # URl to get GIbles data from the api

response = requests.get(url) #get method

gible = response.json() #parses JSON

print(gible['types'])
print(gible['abilities'])

[{'slot': 1, 'type': {'name': 'dragon', 'url': 'https://pokeapi.co/api/v2/type/16/'}}, {'slot': 2, 'type': {'name': 'ground', 'url': 'https://pokeapi.co/api/v2/type/5/'}}]
[{'ability': {'name': 'sand-veil', 'url': 'https://pokeapi.co/api/v2/ability/8/'}, 'is_hidden': False, 'slot': 1}, {'ability': {'name': 'rough-skin', 'url': 'https://pokeapi.co/api/v2/ability/24/'}, 'is_hidden': True, 'slot': 3}]

In [ ]:
# *optional*
types = [k['type']['name'] for k in gible['types']] #loops through the types and appends the list with the names

abilities = [a['ability']['name'] for a in gible['abilities']] #loops through the abilites and appends the list with the names

# prints types and abilities
print(f"types are: {types}\nAbilities are: {abilities}")

### Question 2
Use the [pokeAPI](https://pokeapi.co/) to find out:

How many pokemon are "dragon" type?

You mut use python and apply the GET method via their API and display this information.

Bonus points if you include their names.

In [10]:
# Your code here


url = 'https://pokeapi.co/api/v2/type/16/'

response2 = requests.get(url) #get method

dragon = response2.json() # parses json

print(len(dragon['pokemon']))

73

In [25]:
# *optional, bonus points given*
# loops through all pokemon that are dragons, adds to the count varaible and appends a list of the names
count = 0
dragons = []
for k in dragon['pokemon']:
    count += 1
    dragons.append(k['pokemon']['name'])

# prints out the count or number of dragons and there names    
print(f"There are {count} Dragon type Pokemon and they are: ")
for d in dragons: print(d)

# If you want to turn into a dataframe    

out=[]
for d in dragons: 
    out.append(d)
dragon_df = pd.DataFrame(out).rename(columns={0:'dragon pokemon'})

There are 73 Dragon type Pokemon and they are:
dratini
dragonair
dragonite
kingdra
vibrava
flygon
altaria
bagon
shelgon
salamence
latias
latios
rayquaza
gible
gabite
garchomp
dialga
palkia
giratina-altered
axew
fraxure
haxorus
druddigon
deino
zweilous
hydreigon
reshiram
zekrom
kyurem
dragalge
tyrunt
tyrantrum
goomy
sliggoo
goodra
noibat
noivern
zygarde
turtonator
drampa
jangmo-o
hakamo-o
kommo-o
guzzlord
naganadel
applin
flapple
appletun
dracozolt
dracovish
duraludon
dreepy
drakloak
dragapult
eternatus
giratina-origin
kyurem-black
kyurem-white
charizard-mega-x
ampharos-mega
garchomp-mega
latias-mega
latios-mega
sceptile-mega
altaria-mega
rayquaza-mega
salamence-mega
exeggutor-alola
zygarde-10
zygarde-50
zygarde-complete
kommo-o-totem
necrozma-ultra

### Question 3

Use the [Open Air Quality API](https://docs.openaq.org/)

Hint: typically queries need a ? in the url

Find out how much ozone there is near Pace University.

You mut use python and apply the GET method via their API and display this information.

In [26]:
# Your code here

url3 = "https://api.openaq.org/v1/measurements?location=CCNY&parameter=o3" # query by pace location and ozone

response3 = requests.get(url3) #get method

paceair = response3.json() #parses json

paceair['results'][0]

{'location': 'CCNY', 'parameter': 'o3', 'date': {'utc': '2020-10-06T13:00:00Z', 'local': '2020-10-06T09:00:00-04:00'}, 'value': 0.009, 'unit': 'ppm', 'coordinates': {'latitude': 40.8197, 'longitude': -73.9481}, 'country': 'US', 'city': 'New York-Northern New Jersey-Long Island'}
The ozone near Pace was 0.009 ppm on 2020-10-06

In [ ]:
# *optional*
#takes the most recent observation and gets the ozone value, the unit of measurement, and the date of the observation
fr = paceair['results'][0]
ozone = fr['value']
unit = fr['unit']
date = fr['date']['utc'][0:10]

#prints ozone value and the date
print(f"The ozone near Pace was {ozone} {unit} on {date}")

In [99]:
# Question 4
#Note: I did not take many points off this question since there was a bug in one of the city requests

cities = ["Beijing", "Amsterdam", "Addis Ababa", "Melbourne", "Buenos Aires", "Hyderabad"]
out=[]
for c in cities: #looping through each city to ping the url; the only request change is the city
    url = "https://api.openaq.org/v1/latest?city="+c.replace(" ", "+")+"&parameter=pm25" 
    #looking for latest information about a city and the parameters pm25 in the url 
#     (measurements will also work except for Buenos Aires)
    response = requests.get(url) #savings the get request information
    r = response.json()['results'][0] #taking the json results and storing the first block item
    v = r['measurements'][0]['value'] #taking only the first value of the measurement (which we know is pm25 because of the url)
    out.append([c,v])  #append the value information in a list with the city name
#Note: There is a bug with san francisco, where you have to pull form location instead of city 
pm_cities = pd.DataFrame(out).rename(columns={0:'city', 1:'pm25'}) 
#turning the list into a dataframe with the first column the city and the second the value (as noted in the list)
pm_cities

           city  pm25
0       Beijing  49.0
1     Amsterdam   2.8
2   Addis Ababa  12.0
3     Melbourne   2.7
4  Buenos Aires  18.1
5     Hyderabad  55.0

In [100]:
# let's add the last city on here
url = "https://api.openaq.org/v1/measurements?parameter=pm25&location=San+Francisco"
response = requests.get(url)
response.json()['results']
v = r['measurements'][0]['value']
sf = ['San Francisco', v]
out.append(sf)
pm_cities = pd.DataFrame(out).rename(columns={0:'city', 1:'pm25'}) 
pm_cities

            city  pm25
0        Beijing  49.0
1      Amsterdam   2.8
2    Addis Ababa  12.0
3      Melbourne   2.7
4   Buenos Aires  18.1
5      Hyderabad  55.0
6  San Francisco  55.0

In [76]:
# ** Here is another way to do the above, but looping through URLs

#Takes the urls of each city and querys it by black carbon and city
url4 = "https://api.openaq.org/v1/measurements?parameter=pm25&city=Beijing"
url5 = "https://api.openaq.org/v1/measurements?parameter=pm25&city=Amsterdam"
url6 = "https://api.openaq.org/v1/measurements?parameter=pm25&city=Melbourne"
url7 = "https://api.openaq.org/v1/measurements?parameter=pm25&city=Hyderabad"

# [plus signs also work]
url9 = "https://api.openaq.org/v1/measurements?parameter=pm25&location=San%20Francisco"
url8 = "https://api.openaq.org/v1/measurements?parameter=pm25&city=Addis%20Ababa"
url10 = "https://api.openaq.org/v1/latest?city=Buenos%20Aires&parameter=pm25"


urls=[url4,url5,url6,url7, url8, url9] # list of urls

#loops through lsit of urls and puts the different cities results into a list
i=0
responses=[]
bc = []
for u in urls:
    responses.append(requests.get(u))
    bc.append(responses[i].json())
    i += 1

# loops through the different results and gets the most recent observation for each, finds the city value of black carbon, and the date
# appends these values to dictionaries
d = {}    
dates = {}
for j in range(0,len(bc)):
    obs = bc[j]['results'][0]
    city = obs['city']
    value  = obs['value']
    date = obs['date']['utc']
    d.update( {city:value} )    #used https://thispointer.com/python-how-to-add-append-key-value-pairs-in-dictionary-using-dict-update/ to learn update method
#     dates.update({city:date})

k={}
u= ('https://api.openaq.org/v1/latest?city=Buenos%20Aires&parameter=pm25')
responses = requests.get(u)
b = responses.json()
obs = b['results'][0]
city = obs['city']
meas = obs['measurements'][0]
value = meas['value']
k.update( {city:value} )    #used https://thispointer.com/python-how-to-add-append-key-value-pairs-in-dictionary-using-dict-update/ to learn update method
df = pd.DataFrame(k.values(), index = k.keys(),columns=['pm25'])

d.update(k)

# Creates DataFrame of most recent observation with city as the index, Black carbon level, and the date as the second column
df = pd.DataFrame(d.values(), index = d.keys(),columns=['pm25'])
# df['Time'] = df.index.map(dates) #used https://kanoki.org/2019/04/06/pandas-map-dictionary-values-with-dataframe-columns/ for the map method
df